<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @user.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @user.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @user.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @user.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @user.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @user.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @user.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @user.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @user.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @user.q10 %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @user.random_field %>
</p>

<h1>You may like:</h1>
<% @recommend.each do |rec| %>
  <p> <%= rec %></p>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
